<div>
    <div class="bookCount">
        <span class="books">Books <p id="book-count">({{booksArray.length}} items)</p></span>
        <span class="count"></span>
    </div>
    <div class="sort">
        <mat-form-field appearance="outline">
            <mat-label>Sort by relevance</mat-label>
            <mat-select class="matselect">
                <mat-option (click)="lowtohigh()" value="one">Price:Low to High</mat-option>
                <mat-option (click)=" hightolow()" value="two">Price:High to Low</mat-option>
                <mat-option (click)="newestarrivals()" value="third">Newest Arrivals</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="bookcard">
        <div class="entirebook" *ngFor="let Book of booksArray">
            <div class="bookimg" routerLink="/dashboard/quickview">
                <img class="img1" [src]="Book.bookImage" >
            </div>
            <h2 class="title">{{Book.bookName}}</h2>
            <p id="para">by {{Book.authorName}}</p>
            <div class="rating" fxLayoutAlign="space-evenly center">
                ({{Book.rating}})<img class="Star" src="../../../../assets/star_rate.svg" >
            </div>
            <p id="count">({{Book.totalRating}})</p>
            <div class="price-container">
                <div class="dicounted-price">
                    Rs.{{Book.discountPrice}}
                </div>
                <div class="actual-price">
                    Rs.{{Book.originalPrice}}
                </div>
            </div>
            
        </div>
    </div>
</div>