<div class="main">
    <div class="heading">
        <span class="home" routerLink="/dashboard/getallbooks">Home /</span><span> My cart</span>
    </div>

    <div class="main-content">
        <div class="title-header">
            <span class="title">My Cart({{booksArray?.length}}) </span>
            <div>
                <select class="location">   
                    <option> Use Current Location</option>
                </select>
            </div>
        </div>
        <div class="bodyBox">

        
            <div class="item" *ngFor="let Book of booksArray"  >
                <div class="img">
                      <img class="book-image" src="{{Book.bookImage}}" width="90px" height="110px">
                </div>
                      
                      <div class="book-details" >
                        <h3 class="bookName">{{Book.bookName}}</h3>
                        <span class="authorName">by {{Book.authorName}}</span>
                        <div >
                            <div><span class="discountPrice">Rs. {{Book.discountPrice}}</span></div>
                            <div><span class="originalPrice">Rs. {{Book.originalPrice}}</span></div>
                        </div>
                        <div class="quantity">
                            <img class="circle" src="../../assets/remove_circle_outline_black_24dp.svg" >
                            <div class="inputBox">{{Book.quantity}}</div>
                            <img class="circle" src="../../assets/add_circle_outline_black_24dp.svg">
                            <button class="remove-btn" >Remove</button>
                            </div>
                    </div>
              </div>
        </div>
    </div>

        <div>
            <button mat-raised matTooltip="Place Order!" class="button1">
                PLACEORDER</button>
        </div>
    </div>



    <div class="address">
        <mat-toolbar >
            <div >
                <span class="title">Address Details</span>
            </div>
        </mat-toolbar>
    </div>

    <div class="order" >
        <mat-toolbar >
            <div>
                <span class="title">Order Summary</span>
            </div>
        </mat-toolbar>
    </div>

