<div class="container">

    <div >
      <mat-toolbar class="tool">
        <div class="titleText">
          <img src="../../../../assets/education.svg" class="img-Icon" />
          <a id="text">BookStore</a>
        </div>
  
        <mat-card class="search">
          <button mat-icon-button>
            <mat-icon class="searchIcon">search</mat-icon>
          </button>
          <input class="searchInput" type="text" name="search" placeholder="Search.."/>
        </mat-card>
  
        <button class="Profile" mat-button [matMenuTriggerFor]="menu" >Profile <mat-icon class="searchIcon">perm_identity
          </mat-icon>
  
          <mat-menu class="matmenu" #menu="matMenu">
            <div>
              <h3 class="welcome">Hello</h3>
            </div>
          
            
            <button class="wishlistbutton" mat-menu-item >
              <mat-icon class="wishlistIcon">favorite</mat-icon> My Wishlist
            </button>
               
            <div mat-menu-item>
              <button class="loginbutton">Logout</button>
            </div>
          </mat-menu>
        </button>
  
  
       <div > 
        <button class="cart" mat-button>Cart<mat-icon>shopping_cart</mat-icon></button>
        </div>
  
      </mat-toolbar>
    </div>
   <div>
      <router-outlet></router-outlet>
   </div>
   <div class="footer">
    <h4 >Copyright © 2022, Bookstore Private Limited. All Rights Reserved</h4>
</div>
  </div>